* {
    background-color: #99ccff;
    text-align: center;
}

html {
    font-size: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

h1 {
    text-align: center;
}

ul {
}
